body {
    height: 100%;
    width: 1400px;
    left: 0px;
    top: 0px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 1400px;
    height: 325px;
    background-color: #29291E;
    background-size: cover;
    display: flex;
    position: fixed;
    margin-top: -10PX;
    margin-left: -8PX;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #FFFFFF;
    position: absolute;
}

.header .logo {
    width: 88px;
    height: 27px;
    margin-left: 70px;
    margin-top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 27px;
}

.header nav {
    margin-left: 520px;
    margin-top: 15px;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 20px;
    font-size: 16px;
    padding: 0px 10px;
}

.header button {
    height: 40px;
    width: 55px;
    margin-top: 30px;
    margin-left: 10px;
    background: #2DCE89;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 4px;
}

.header h1 {
    width: 934px;
    height: 50px;
    left: 253px;
    top: 170px;
    line-height: 50px;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    position: absolute;
}

.search i {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 70px;
    top: 209px;
}

.search input {
    position: absolute;
    width: 600px;
    height: 60px;
    left: 70px;
    top: 290px;
}

.search2 i {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 685px;
    top: 290px;
}

.search2 input {
    position: absolute;
    width: 411px;
    height: 60px;
    left: 685px;
    top: 290px;
}

.search button {
    border-radius: 4px;
    position: absolute;
    width: 193px;
    height: 60px;
    left: 1100px;
    top: 260px;
    color: #FFFFFF;
}

.isi2 {
    position: absolute;
    background:url(.jpg) no-repeat;
    background-size: cover;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px; 
    letter-spacing: 0.01em;
}

.line1 {
    position: absolute;
    width: 108px;
    height: 5px;
    left: 60px;
    top: 425px;
    background: #2DCE89;
}

.isi2 h4 {
    margin-top: 450px;
    margin-left: 1200px;
}

.isi2 h4 a {
    text-decoration: none;
    color: #29291E;
}

.isi2 h1 {
    margin-top: -60px;
    margin-left: 60px;
}

.isi2 .container .grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 60px;
    align-items: center;
    column-gap: 20px;
}

.isi2 .container .grid img {
    object-fit: cover;
}

.isi2 .container .grid article {
    border-radius: 20px;
    box-shadow: gray;
    background: whitesmoke;
    width: 302px;
    height: 544px;
}

.isi2 .container .grid article img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.isi2 .container .grid article .konten h2 {
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    width: 600;
}

.isi2 .container .grid article .konten h4 {
    position: absolute;
    width: 119px;
    height: 17px;
    margin-left: 20px;
    margin-top: 30px;   
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #29291E;
}

.isi2 .container .grid article .konten p {
    position: absolute;
    width: 271px;
    height: 100px;
    margin-left: 20px;
    top: 895px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
    letter-spacing: 0.01em;
    color: #29291E;
    outline: none;
    border: none;
}

.kategori1 button {
    position: absolute;
    width: 83px;
    height: 24px;
    left: 80px;
    top: 845px;
    border-radius: 20px;
    background: #2DCE89;
    color: #039054;
    outline: none;
    border: none;
}

.kategori2 button {
    position: absolute;
    width: 57px;
    height: 24px;
    left: 170px;
    top: 845px;
    border-radius: 20px;
    background: #2DCE89;
    color: #039054;
    outline: none;
    border: none;
}

.kategori3 button {
    position: absolute;
    width: 69px;
    height: 24px;
    left: 235px;
    top: 845px;
    border-radius: 20px;
    background: #EF6C66;
    color: rgb(248, 60, 60);
    outline: none;
    border: none;
}

.cardbtn button {
    position: absolute;
    width: 271px;
    height: 50px;
    margin-left: 18px;
    margin-top: 160px;
    background: #2DCE89;
    border-radius: 4px;
    color: #FFFFFF;
    outline: none;
    border: none;
}

.kategori4 button {
    position: absolute;
    width: 69px;
    height: 24px;
    left: 400px;
    top: 845px;
    border-radius: 20px;
    background: #EF6C66;
    color: rgb(248, 60, 60);
    outline: none;
    border: none;
}

.kategori5 button {
    position: absolute;
    width: 69px;
    height: 24px;
    left: 475px;
    top: 845px;
    border-radius: 20px;
    background: #0099FF;
    color: #037dce;
    outline: none;
    border: none;
}

.kategori6 button {
    position: absolute;
    width: 88px;
    height: 24px;
    left: 550px;
    top: 845px;
    border-radius: 20px;
    background: #0099FF;
    color: #037dce;
    outline: none;
    border: none;
}

.kategori7 button {
    position: absolute;
    width: 83px;
    height: 24px;
    left: 725px;
    top: 845px;
    border-radius: 20px;
    background: #2DCE89;
    color: #039054;
    outline: none;
    border: none;
}

.kategori8 button {
    position: absolute;
    width: 69px;
    height: 24px;
    left: 812px;
    top: 845px;
    border-radius: 20px;
    background: #EF6C66;
    color: rgb(248, 60, 60);
    outline: none;
    border: none;    
}

.kategori9 button {
    position: absolute;
    width: 108px;
    height: 24px;
    left: 886px;
    top: 845px;
    border-radius: 20px;
    background: #0099FF;
    color: #037dce;
    outline: none;
    border: none;
}

.kategori0 button {
    position: absolute;
    width: 83px;
    height: 24px;
    left: 1048px;
    top: 845px;
    border-radius: 20px;
    background: #2DCE89;
    color: #039054;
    outline: none;
    border: none;
}

.kategori11 button {
    position: absolute;
    width: 69px;
    height: 24px;
    left: 1140px;
    top: 845px;
    border-radius: 20px;
    background: #EF6C66;
    color: red;  
    outline: none;
    border: none; 
}

.kategori22 button {
    position: absolute;
    width: 74px;
    height: 24px;
    left: 1218px;
    top: 845px;
    border-radius: 20px;
    background: #0099FF;
    color: #037dce;
    outline: none;
    border: none;
}

.next button {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 80px;
    top: 1134px;
    border-radius: 40px;
    border: none;
    outline: none;
}

.next2 button {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 150px;
    top: 1134px;
    background: #EF6C66;
    border-radius: 40px;
    border: none;
    outline: none;
}

.isi3 {
    position: absolute;
    background:url(.jpg) no-repeat;
    background-size: cover;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px; 
    letter-spacing: 0.01em;
}

.line2 {
    position: absolute;
    width: 108px;
    height: 5px;
    left: 60px;
    top: 1325px;
    background: #2DCE89;
}

.isi3 h4 {
    margin-top: 1350px;
    margin-left: 1200px;
}

.isi3 h4 a {
    text-decoration: none;
    color: #29291E;
}

.isi3 h1 {
    margin-top: -60px;
    margin-left: 60px;
}

.isi3 .container .grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 60px;
    align-items: center;
    column-gap: 20px;
}

.isi3 .container .grid img {
    object-fit: cover;
}

.isi3 .container .grid article {
    border-radius: 20px;
    box-shadow: gray;
    background: whitesmoke;
    width: 302px;
    height: 544px;
}

.isi3 .container .grid article img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.isi3 .container .grid article .konten h2 {
    margin-left: 20px;
    font-size: 25px;
}

.isi3 .container .grid article .konten h4 {
    position: absolute;
    width: 300px;
    height: 17px;
    margin-left: 20px;
    margin-top: 30px;   
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #29291E;
}

.isi3 .container .grid article .konten p {
    position: absolute;
    width: 271px;
    height: 100px;
    margin-left: 20px;
    top: 1790px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
    letter-spacing: 0.01em;
    color: #29291E;
    outline: none;
    border: none;
}

.kategori31 button {
    position: absolute;
    width: 83px;
    height: 24px;
    left: 80px;
    top: 1740px;
    border-radius: 20px;
    background: #2DCE89;
    color: #039054;
    outline: none;
    border: none;
}

.kategori32 button {
    position: absolute;
    width: 57px;
    height: 24px;
    left: 170px;
    top: 1740px;
    border-radius: 20px;
    background: #2DCE89;
    color: #039054;
    outline: none;
    border: none;
}

.kategori33 button {
    position: absolute;
    width: 69px;
    height: 24px;
    left: 235px;
    top: 1740px;
    border-radius: 20px;
    background: #EF6C66;
    color: rgb(248, 60, 60);
    outline: none;
    border: none;
}

.cardbtn button {
    position: absolute;
    width: 271px;
    height: 50px;
    margin-left: 18px;
    margin-top: 160px;
    background: #2DCE89;
    border-radius: 4px;
    color: #FFFFFF;
    outline: none;
    border: none;
}

.kategori34 button {
    position: absolute;
    width: 69px;
    height: 24px;
    left: 400px;
    top: 1740px;
    border-radius: 20px;
    background: #2DCE89;
    color: #039054;
    outline: none;
    border: none;
}

.kategori35 button {
    position: absolute;
    width: 69px;
    height: 24px;
    left: 475px;
    top: 1740px;
    border-radius: 20px;
    background: #2DCE89;
    color: #039054;
    outline: none;
    border: none;
}

.kategori36 button {
    position: absolute;
    width: 69px;
    height: 24px;
    left: 550px;
    top: 1740px;
    border-radius: 20px;
    background: #EF6C66;
    color: rgb(248, 60, 60);
    outline: none;
    border: none;
}

.kategori37 button {
    position: absolute;
    width: 83px;
    height: 24px;
    left: 725px;
    top: 1740px;
    border-radius: 20px;
    background: #2DCE89;
    color: #039054;
    outline: none;
    border: none;
}

.kategori38 button {
    position: absolute;
    width: 69px;
    height: 24px;
    left: 812px;
    top: 1740px;
    border-radius: 20px;
    background: #2DCE89;
    color: #039054;
    outline: none;
    border: none;    
}

.kategori39 button {
    position: absolute;
    width: 108px;
    height: 24px;
    left: 1045px;
    top: 1740px;
    border-radius: 20px;
    background: #2DCE89;
    color: #039054;
    outline: none;
    border: none;
}

.kategori40 button {
    position: absolute;
    width: 83px;
    height: 24px;
    left: 1160px;
    top: 1740px;
    border-radius: 20px;
    background: #2DCE89;
    color: #039054;
    outline: none;
    border: none;
}

.kategori41 button {
    position: absolute;
    width: 69px;
    height: 24px;
    left: 1250px;
    top: 1740px;
    border-radius: 20px;
    background: #EF6C66;
    color: red;  
    outline: none;
    border: none; 
}


.next3 button {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 80px;
    top: 2030px;
    border-radius: 40px;
    border: none;
    outline: none;
}

.next4 button {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 150px;
    top: 2030px;
    background: #EF6C66;
    border-radius: 40px;
    border: none;
    outline: none;
}

.isi4 {
    width: 1440px;
    height: 1030px;
    top: 2250px;
    left: 0px;
    background: #29291E;
    position: absolute;
}

.line3 {
    position: absolute;
    width: 108px;
    height: 5px;
    left: 35px;
    top: 30px;
    background: #2DCE89;
}

.stories1 h4 a {
    position: absolute;
    width: 114px;
    height: 24px;
    left: 1220px;
    top: 55px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.stories1 h1 {
    color: #FFFFFF;
    width: 416px;
    height: 60px;
    margin-left: 35px;
    top: 30px;
    position: absolute;
}

.stories1 h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    width: 648px;
    height: 70px;
    left: 35px;
    top: 100px;
    color: #FFFFFF;
}

.stories1 p {
    top: 170px;
    margin-left: 35px;
    position: absolute;
    color: #FFFFFF;
    font-size: 16px;
}

.stories1 h5 {
    color: #FFFFFF;
    width: 150px;
    height: 35px;
    top: 188px;
    margin-left: 35px;
    position: absolute;
    font-size: 14px;
}

.stories1 h6 {
    left: 35px;
    top: 200px;
    color: #FFFFFF;
    position: absolute;
    font-size: 14px;
    width: 254px;
    height: 35px;
}

.stories1 button {
    margin-left: 35px;
    top: 290px;
    width: 270px;
    height: 60px;
    background-color: #2DCE89;
    color: #FFFFFF;
    border: none;
    outline: none;
    position: absolute;
}

.stories1 img {
    width: 628px;
    height: 356px;
    margin-left: 690px;
    margin-top: 100px;
}

hr {
    border: 1px solid #FFFFFF;
    left: 35px;
    top: 500px;
    position: absolute;
    width: 1281.5px;
}

.stories2 h3 {
    width: 648px;
    height: 70px;
    left: 35px;
    top: 530px;
    position: absolute;
    color: #FFFFFF;   
    font-size: 24px;
}

.stories2 p {
    top: 600px;
    margin-left: 35px;
    position: absolute;
    color: #FFFFFF;
    font-size: 16px;
}

.stories2 h5 {
    color: #FFFFFF;
    width: 150px;
    height: 35px;
    top: 620px;
    margin-left: 35px;
    position: absolute;
    font-size: 14px;
}

.stories2 h6 {
    left: 35px;
    top: 620px;
    color: #FFFFFF;
    position: absolute;
    font-size: 14px;
    width: 254px;
    height: 35px;
}

.stories2 button {
    margin-left: 35px;
    top:720px;
    width: 270px;
    height: 60px;
    background-color: #2DCE89;
    color: #FFFFFF;
    border: none;
    outline: none;
    position: absolute;
}

.stories2 img {
    width: 628px;
    height: 356px;
    margin-left: 690px;
    margin-top: 80px;
}

.end {
    position: absolute;
    width: 1440px;
    height: 736px;
    left: 0px;
    top: 3276px;
    background: #FFFFFF;
}

.footer {
    background: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1.03px solid #29291E;
    position: absolute;
    width: 1500px;
    height: 343px;
    left: 44px;
    top: 200px;
    display: flex;
    flex-direction: column;

}

.end .container {
    display: flex;
}

.airlabs {
    flex-grow: 0.3;
    flex-basis: 100%;
}

.airlabs h4 {
    margin-bottom: 20px;
    font-size: 22px;
    margin-left: 40px;
    margin-top: 130px;
}

.airlabs p {
    line-height: 25px;
    margin-left: 40px;
}

.follow {
    flex-grow: 0.3;
    flex-basis: 100%;
}

.follow h4 {
    margin-bottom: 20px;
    font-size: 22px;
    margin-left: 140px;
    margin-top: 125px;
}

.follow ul {
    list-style: none;
    line-height: 40px;
    margin-left: 100px;
}

.follow li a {
    text-decoration: none;
    color: #29291E;
}

.navigation {
    flex-grow: 0.3;
    flex-basis: 100%;
}

.navigation h4 {
    margin-bottom: 20px;
    font-size: 22px;
    margin-left: 60px;
    margin-top: 125px;
}

.navigation ul {
    list-style: none;
    line-height: 40px;
    margin-left: 20px;
}

.navigation li a {
    text-decoration: none;
    color: #29291E;
}

.about {
    flex-grow: 0.3;
    flex-basis: 100%;
}

.about h4 {
    margin-bottom: 20px;
    font-size: 22px;
    margin-top: 125px;
}

.about ul {
    list-style: none;
    line-height: 40px;
    margin-left: -40px;
}

.about li a {
    text-decoration: none;
    color: #29291E;
}

.section i {
    position: absolute;
    width: 161px;
    height: 30px;
    left: 80px;
    top: 3918px;
}

.footer2 .container {
    border-radius: 30px;
    background-color: #EF6C66;
    width: 1282px;
    height: 280px;
    left: 250px;
    top: 3424px;
    
}